extends layout

block content
    div.clearfix
        div.field-wrapper
            p#background-text Start listening... 
            input(type='text', value='')
        div.float-right.button-wrapper
            a.btn(href='#') Invite someone

