!!!
html
  head
    title= title
    link(rel='stylesheet', href='/stylesheets/style.css')
    
    script(src=base + '/javascripts/jquery-1.7.min.js')
    script(src=base + '/javascripts/modernizr.js')    
  body!= body